h1 {
    color: rgb(14, 61, 189);
}
body {
    background-color: darksalmon;
}
span{
    background-color: gold;
}
.parrafosimpares{
    color: blue;
}
.parrafospares{
    color:rgb(94, 10, 10);
}
span.parrafosimpares{
    color: rgb(218, 22, 218);
}
p em{
    background-color: rgb(125, 177, 236);
}
p.parrafonuevo{
    font-style: oblique;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
