/* Autor: David Díaz */

header :first-child {
    color: red;
}
a:link {
    background-color: yellow;
}
a:visited {
    background-color: blue;
}
a:hover {
    background-color: black;
    color: cyan;
    font-size: large;
    font-weight: bold;
    font-style: oblique;
}
a:active{
    background-color: blueviolet;
    color: blanchedalmond;
}